* {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #2d3131;
  color: #fcfcfc;
  height: 100%;
}

p {
  text-align: center;
}

label {
  cursor: pointer;
}

input#file-upload {
  visibility: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#wrapper {
  width: 70%;
  margin: auto;
}

#title {
  font-size: 2rem;
  text-align: center;
}

#drop-container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3d4141;
  border: 1px dashed #fcfcfc;
  border-radius: 1rem;
}

#drop-container i {
  font-size: 4rem;
}

#preview-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.preview-tile {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem;
  background: #313737;
  border-radius: 1rem;
}

.preview-media {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#preview-sentence {
  font-size: 1.5rem;
}

.entry-word {
  font-size: 1rem;
}
/*
#entry-list {
}
*/
#entry {
  font-size: 1rem;
}

.definition {
  padding: 0.2rem;
  padding-bottom: 0rem;
}

.explaination {
  margin: 0.25rem;
  margin-left: 1rem;

}

.definition:hover {
  color: #2d3131;
  background-color: #fcfcfc;
  border-radius: 3px;
  cursor: pointer;
}

.selected {
  color: #2d3131;
  background-color: #cccccc;
  border-radius: 3px;
}
