{% extends "base.html" %}
{% block content %}
    {%if hidden%}
    <h2 style="background-color: rgba(255, 165, 0, 0.5)" >This is a hidden flashcard</3>
    {% endif %}
    <h2>{{tl_sentence}}</h2>
    <h3>{{nl_sentence}}</h3>

    {% include "flashcard_entry_form.html" %}

    <ul>
	{% for word in words_list %} 
	<li>
	    <strong
	    {%if word.duplicate %}
		    style="background-color: rgba(255, 165, 0, 0.5)"
	    {% endif %}
		>{{word.word}}</strong>
	    <ol hx-get="sentence-viewer?word={{word.word}}"
		hx-trigger="load">
		<img src="loading.svg" class="htmx-indicator" alt="loading in from dictionary..." style="fill: black">
	    </ol>
	</li>
	{% endfor %}
    </ul>

    <div>
	{% match prev_row_order %}
	{% when Some with (prev_row) %}
	<button hx-get="view?csv_id={{csv_id}}&row_order={{prev_row}}" 
	    hx-target="body"
	    hx-swap="outerHTML"
	    hx-push-url="true"
	    >
	    prev
	</button>
	{% when None %}
	{% endmatch %}

	{% match next_row_order %}
	{% when Some with (next_row) %}
	<button hx-get="view?csv_id={{csv_id}}&row_order={{next_row}}"
	    hx-target="body"
	    hx-swap="outerHTML"
	    hx-push-url="true"
	    >
	    next
	</button>
	{% when None %}
	<a href="get-file?csv_id={{csv_id}}"
	   hx-boost="false"
	   download
	    >
	    finish
	</a>
	{% endmatch %}
    </div>
{% endblock content %}
