{% extends "base.html" %}
{% block content %}
    <h2>{{tl_sentence}}</h2>
    <h3>{{nl_sentence}}</h3>

    {% include "flashcard_entry_form.html" %}

    <ul>
	{% for word in words_list %} 
	<li>
	    <strong>{{word}}</strong>
	    <ol hx-get="sentence-viewer?word={{word}}"
		hx-trigger="load">
		<img src="loading.svg" class="htmx-indicator" style="fill: black">
		<!-- <p class="htmx-indicator">loading in from dictionary...</p> -->
	    </ol>
	</li>
	{% endfor %}
    </ul>

    <div>
	{% if sentence_order != 1 %}
	<button hx-get="view?csv_id={{csv_id}}&sentence={{sentence_order-1}}" 
	    hx-target="body"
	    hx-swap="outerHTML"
	    hx-push-url="true"
	    >
	    prev
	</button>
	{% endif %}
	
	{% if csv_row_id != last_csv_row_id %}
	<button hx-get="view?csv_id={{csv_id}}&sentence={{sentence_order+1}}"
	    hx-target="body"
	    hx-swap="outerHTML"
	    hx-push-url="true"
	    >
	    next
	</button>
	{% else %}
	<a href="get-file?csv_id={{csv_id}}"
	   hx-boost="false"
	   download
	    >
	    finish
	</a>
	{% endif %}
    </div>
{% endblock content %}
